{% extends 'base.html' %}
{% block content %}
<!-- modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <div class="visually-hidden" id="hidden-id"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body" id="department-content">
            <!-- <div class="row mb-2">
              <div class="col-4">{{department.name}}</div>
              <div class="col">
                <button type="button" class="btn btn-primary" onclick="handleAction('start', {{department.id}})">เริ่ม</button>
                <button type="button" class="btn btn-secondary" onclick="handleAction('stop', {{department.id}})">สิ้นสุด</button>
                <button type="button" class="btn btn-danger" onclick="handleAction('reject', {{department.id}})">reject</button>
              </div>
            </div> -->
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
  
      </div>
  </div>
</div>
<!-- end modal -->
<div class="row">
  <div class="d-flex justify-content-between p-0">
    <div>
      <form action="" method="get">
        <input type="month" name="query">
        <input type="submit" value="search" class="btn btn-primary">
      </form>
    </div>
    <button type="button" class="btn btn-primary">excel</button>
  </div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">PO Date</th>
          <th scope="col">PO Number</th>
          <th scope="col">Customer</th>
          <th scope="col">Due date</th>
          <th scope="col">Stattus</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page_obj %}
          {% if item.flag == 1%}
            <tr class="bg-warning">
          {% elif item.flag == 2%}
            <tr class="bg-danger">
          {% else %}
            <tr class="">
          {% endif %}
              <td><input type="checkbox" name="" id=""></td>
              <td>{{item.order.created_date|date:"SHORT_DATE_FORMAT"}}</td>
              <td><a href="/purchase-order/{{item.order.id}}">{{item.order.id}}</a></td>
              <td>{{item.customer.fullname}}</td>
              <td>{{item.order.delivery_date|date:"SHORT_DATE_FORMAT"}}</td>
              <td>{{item.order.status}}</td>
              <td><button class='btn btn-success' onclick="toggleModal({{item.order.id}})">Confirm</button></td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  <div class="d-flex justify-content-center mt-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
          {% if page == page_obj.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{page}}">{{ page }}</a>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
{% block script %}
    <script>
      function navigateToDetail(){
        window.location.href = '/purchase-order/1/'
      }
    </script>
    <script>
      const checkFlag = (flag) => {
        if(flag == 1){
          return '<span class="badge bg-info text-dark">start</span>'
        }else if(flag == 2){
          return '<span class="badge bg-info text-dark">stop</span>'
        }else if(flag == 3){
          return '<span class="badge bg-success text-white">done</span>'
        }else{
          return ''
        }
      }
      const toggleModal = async(orderId) => {
        var content = document.getElementById('department-content')
        var html = '';
        const path = `/api/department?order_id=${orderId}`;
        const res = await gettData(path);
        if(res.ok){
          for(let department of res.departments){
            html += `
              <div class="row mb-2">
                <div class="col-4">
                  ${department.name}
                  ${checkFlag(department.flag)}
                </div>
                <div class="col">
                  <button type="button" class="btn btn-primary" onclick="handleAction('start', ${department.id})">เริ่ม</button>
                  <button type="button" class="btn btn-secondary" onclick="handleAction('stop', ${department.id})">สิ้นสุด</button>
                  <button type="button" class="btn btn-danger" onclick="handleAction('reject', ${department.id})">reject</button>
                </div>
              </div>
            `
          }
        }
        content.innerHTML = html;
        document.getElementById('hidden-id').innerHTML = orderId
        var myModal = new bootstrap.Modal(document.getElementById('myModal'))
        myModal.show()
      }
      const handleAction = async(action, departmentId) => {
        const orderId = document.getElementById('hidden-id').innerHTML;
        const data = {
          action: action,
          order_id: orderId,
          department_id: departmentId
        }
        const path = '/api/management';
        const res = await postData(path, data);
        if(res.ok){
          Swal.fire({
            icon: 'success',
            title: 'Oops...',
            text: 'Something went wrong!',
            footer: '<a href="">Why do I have this issue?</a>'
          }).then(result => {
            if(result.isConfirmed){
              window.location.reload();
            }
          })
        }
      }
    </script>
{% endblock %}