{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div>management</div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">no</th>
              <th scope="col">PO Date</th>
              <th scope="col">PO Number</th>
              <th scope="col">Customer</th>
              <th scope="col">Due date</th>
              <th scope="col">Model</th>
              <th scope="col">Stattus</th>
              <th scope="col">Comment</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                <td>12/05/22</td>
                <td>5478</td>
                <td>Adam</td>
                <td>18/06/22</td>
                <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                <td>On going</td>
                <td>ปรับไฟฟ้าซ้ายขวา</td>
                <td><button class="btn-secondary btn">Confirm</button></td>
            </tr>
            <tr>
                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                <td>12/05/22</td>
                <td>5478</td>
                <td>Adam</td>
                <td>18/06/22</td>
                <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                <td>On going</td>
                <td>ปรับไฟฟ้าซ้ายขวา</td>
                <td><button class="btn-secondary btn">Confirm</button></td>
            </tr>
            <tr>
                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                <td>12/05/22</td>
                <td>5478</td>
                <td>Adam</td>
                <td>18/06/22</td>
                <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                <td>On going</td>
                <td>ปรับไฟฟ้าซ้ายขวา</td>
                <td><button class="btn-secondary btn">Confirm</button></td>
            </tr>
          </tbody>
    </table>
</div>
{% endblock %}