{% extends 'base.html' %}
{% block style%}
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
<link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block content %}
    <div>ใบสั่งซื้อสินค้า</div>
    <!-- status section -->
    <div class="d-flex justify-content-end mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Status
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <!-- end section -->
    <!-- user information -->
    <form method="post">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">วันที่</label>
                {{user_form.date}} 
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">สถานที่จัดงาน</label>
                {{user_form.work_location_id}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ชื่อลุกค้า</label>
                {{user_form.fullname}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                {{user_form.tel}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">ที่อยู่</label>
                {{user_form.delivery_address}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">จังหวัด</label>
                {{user_form.province}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เขต</label>
                {{user_form.district}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">อำเภอ</label>
                {{user_form.amphoe}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ไปรษณีย์</label>
                {{user_form.zipcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="">กำหนดส่งสินค้า</label>
                {{user_form.delivery_date}}
            </div>
        </div>
        <hr/>
        <!-- end section -->
        <input type="submit" value="Next" class="btn btn-primary btn-submit">
    </form>

{% endblock %}
{% block script %}
<script>
    function handleSubmit(e){
        debugger
        console.log(e)
    }
    function RedirectSavePage(){
    const urlParams = new URLSearchParams(window.location.search);
    const htmla = window.location.hostname;
    window.location.href = ``
  }
    const deleteItem = async (itemId) => {
        Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            })
            .then(async (result) => {
                if (result.isConfirmed) {
                    const path = '/api/purchase-order';
                    const data = {
                        'item_id': itemId,
                    }
                    const res = await deleteData(path, data)
                    if (res.ok) {
                        window.location.reload();
                    }
                }
            })

    }
</script>
<script>
    $.Thailand({
    $district: $('#district'), // input ของตำบล
    $amphoe: $('#amphoe'), // input ของอำเภอ
    $province: $('#province'), // input ของจังหวัด
    $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
});
</script>
<script>
    $(document).ready(function(){
        moment.locale('en', {
          week: { dow: 1 } // Monday is the first day of the week
        });
    
        document.getElementById('date').value = new Date().toLocaleString('en-CA').split(',')[0]
    
      //Initialize the datePicker(I have taken format as mm-dd-yyyy, you can     //have your owh)
      $("#weeklyDatePicker").datetimepicker({
          format: 'MM-DD-YYYY'
      });

      $("#weeklyDatePicker").val('{{delivery_date}}');

       //Get the value of Start and End of Week
      $('#weeklyDatePicker').on('dp.change', function (e) {
          var value = $("#weeklyDatePicker").val();
          var firstDate = moment(value, "MM-DD-YYYY").day(1).format("MM-DD-YYYY");
          var lastDate =  moment(value, "MM-DD-YYYY").day(7).format("MM-DD-YYYY");
          $("#weeklyDatePicker").val(firstDate + " - " + lastDate);
      });
    });
</script>
    
{% endblock %}