{% extends 'base.html' %}
{% block style%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
<link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block content %}
    <div>ใบสั่งซื้อสินค้า</div>
    <!-- status section -->
    {% if user.role == 2 %}
    <div class="d-flex justify-content-end mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{str_status}}
            </button>
            <ul class="dropdown-menu">
            {% if status == 1 %}
            <li class="dropdown-item disabled" onclick="">Waiting Approved</li>
            {% else %}
            <li class="dropdown-item" onclick="updateItem({{item_id}},1)">Waiting Approved</li>
            {% endif %}
            {% if status == 2 %}
            <li class="dropdown-item disabled" onclick="">On Going</li>
            {% else %}
            <li class="dropdown-item" onclick="updateItem({{item_id}},2)">On Going</li>
            {% endif %}
            {% if status == 3 %}    
            <li class="dropdown-item disabled" onclick="">Done</li>
            {% else %}
            <li class="dropdown-item" onclick="updateItem({{item_id}},3)">Done</li>
            {% endif %}
            {% if status == 4 %}    
            <li class="dropdown-item disabled" onclick="">Failed</li>
            {% else %}
            <li class="dropdown-item" onclick="updateItem({{item_id}},4)">Failed</li>
            {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <!-- end section -->
    <!-- user information -->
    <form method="post">
        {% csrf_token %}
        <div class="row mt-3 justify-content-end">
            <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">วันที่</label>
                {{user_form.date}} 
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">สถานที่จัดงาน</label>
                {{user_form.work_location_id}}
            </div>
            <div class="col-6" style="position: relative;">
                <label for="exampleFormControlInput1" class="form-label">กำหนดส่งสินค้า</label>
                <div id="picker-wrapper">
                    {{user_form.delivery_date}}
                </div>
            </div>
            
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ชื่อลุกค้า</label>
                {{user_form.fullname}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                {{user_form.tel}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">ที่อยู่</label>
                {{user_form.delivery_address}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">จังหวัด</label>
                {{user_form.province}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เขต</label>
                {{user_form.district}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">อำเภอ</label>
                {{user_form.amphoe}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ไปรษณีย์</label>
                {{user_form.zipcode}}
            </div>
        </div>
        <div class="row mt-3">
            
        </div>
        <hr/>
        <!-- end section -->
        <div class="d-flex justify-content-center">
            <input type="submit" value="ต่อไป" class="btn btn-primary btn-submit">
        </div>
    </form>

{% endblock %}
{% block script %}
<script>
    function set_week_picker(date) {
        start_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
        end_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
        weekpicker.datepicker('update', start_date);
        weekpicker.val((start_date.getMonth() + 1) + '/' + start_date.getDate() + '/' + start_date.getFullYear() + ' - ' + (end_date.getMonth() + 1) + '/' + end_date.getDate() + '/' + end_date.getFullYear());
    }
    $(document).ready(function(){
        weekpicker = $('.week-picker');
        weekpicker.datepicker({
            autoclose: true,
            forceParse: false,
            calendarWeeks: true,
            container: '#picker-wrapper',
        }).on("changeDate", function(e) {
            set_week_picker(e.date);
        });
        set_week_picker(new Date('{{delivery_date}}'));
    })
</script> 
<script>
    function RedirectSavePage(){
    const urlParams = new URLSearchParams(window.location.search);
    const htmla = window.location.hostname;
    window.location.href = ``
  }

    const updateItem = async (itemId,status) => {
        Swal.fire({
                title: 'ยืนยันการเปลี่ยนสถานะ?',
                text: "ต้องการเปลี่ยนสถานะใช่หรือไม่?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน',
                cancelButtonText: 'ยกเลิก'
            })
            .then(async (result) => {
                if (result.isConfirmed) {
                    const path = '/api/purchase-order';
                    const data = {
                        'item_id': itemId,
                        'status': status
                    }
                    const res = await patchData(path, data)
                    if (res.ok) {
                        debugger;
                        window.location.href = '/';
                    }
                }
            })
    }
</script>
<script>
    $.Thailand({
    $district: $('#district'), // input ของตำบล
    $amphoe: $('#amphoe'), // input ของอำเภอ
    $province: $('#province'), // input ของจังหวัด
    $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
});
</script>

{% endblock %}