{% extends 'base.html' %}
{% block style%}
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
<link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block content %}
    
<div class="row mt-3 justify-content-end">
    <div class="col-3">
        <label for="exampleFormControlInput1" class="form-label">วันที่</label>
        
    </div>
</div>
    <h3 class="text-center">ใบสั่งซื้อสินค้า</h3>
    <!-- section customer -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-3 justify-content-end">
            <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">วันที่</label>
                {{form.date}} 
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">สถานที่จัดงาน</label>
                {{form.work_location_id}}
            </div>
            <div class="col-6" style="position: relative;">
                <label for="exampleFormControlInput1" class="form-label">กำหนดส่งสินค้า</label>
                <div id="picker-wrapper">
                    {{form.delivery_date}}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ชื่อลูกค้า</label>
                {{form.fullname}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                {{form.tel}}
                <span class="text-danger">{{form.tel.errors.as_text}}</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">ที่อยู่</label>
                {{form.delivery_address}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">จังหวัด</label>
                {{form.province}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ตำบล/แขวง</label>
                {{form.district}}
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">อำเภอ/เขต</label>
                {{form.amphoe}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ไปรษณีย์</label>
                {{form.zipcode}}
            </div>
        </div>
        <hr/>
        <!-- end section -->
        <div class="d-flex justify-content-center">
            <a href="/"><input type="submit" class="btn btn-success btn-submit" value="ต่อไป"></input></a>
        </div>
    </form>

{% endblock %}

{% block script%}
<script>
    function set_week_picker(date) {
        start_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
        end_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
        weekpicker.datepicker('update', start_date);
        weekpicker.val((start_date.getMonth() + 1) + '/' + start_date.getDate() + '/' + start_date.getFullYear() + ' - ' + (end_date.getMonth() + 1) + '/' + end_date.getDate() + '/' + end_date.getFullYear());
    }
    $(document).ready(function(){
        weekpicker = $('.week-picker');
        weekpicker.datepicker({
            autoclose: true,
            forceParse: false,
            calendarWeeks: true,
            container: '#picker-wrapper',
        }).on("changeDate", function(e) {
            set_week_picker(e.date);
        });
        set_week_picker(new Date);

    })
    
    const addItem = async() => {
        const formData = new FormData();
        const fileList = document.getElementById('file').files;
        for(var i=0;i<fileList.length;i++) {
            formData.append('file'+i, fileList.item(i));
        }
        const purchaseMethod = $('#purchase-method').val()
        const model = $('#model').val()
        const type = $('#type').val()
        const material = $('#material').val()
        const amount = $('#amount').val()
        const color = $('#color').val()
        const price = $('#price').val()
        data = {
            purchaseMethod,
            model,
            type,
            material,
            amount,
            color,
            price
        }
        const res = await postData(data)
        
    }
</script>
<script>
    $.Thailand({
    $district: $('#district'), // input ของตำบล
    $amphoe: $('#amphoe'), // input ของอำเภอ
    $province: $('#province'), // input ของจังหวัด
    $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
});
</script>

{% endblock %}