{% extends 'base.html' %}
{% block style%}
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
<link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block content %}
    
    <h3 class="text-center">ใบสั่งซื้อสินค้า</h3>
    <!-- section customer -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-3 justify-content-end">
            <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">วันที่</label>
                {{form.date}} 
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">สถานที่จัดงาน</label>
                {{form.work_location_id}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">กำหนดส่งสินค้า</label>
                {{form.delivery_date}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ชื่อลูกค้า</label>
                {{form.fullname}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                {{form.tel}}
                <span class="text-danger">{{form.tel.errors.as_text}}</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">ที่อยู่</label>
                {{form.delivery_address}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">จังหวัด</label>
                {{form.province}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ตำบล/แขวง</label>
                {{form.district}}
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">อำเภอ/เขต</label>
                {{form.amphoe}}
            </div>
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">ไปรษณีย์</label>
                {{form.zipcode}}
            </div>
        </div>
        <hr/>
        <!-- end section -->
        <div class="d-flex justify-content-center">
            <a href="/"><input type="submit" class="btn btn-success btn-submit" value="ต่อไป"></input></a>
        </div>
    </form>

{% endblock %}

{% block script%}
<script>

    const postData = async(data) => {
        await fetch('/api/purchase-order', 
            {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        return await response.json()
    }
    const addItem = async() => {
        const formData = new FormData();
        const fileList = document.getElementById('file').files;
        for(var i=0;i<fileList.length;i++) {
            formData.append('file'+i, fileList.item(i));
        }
        const purchaseMethod = $('#purchase-method').val()
        const model = $('#model').val()
        const type = $('#type').val()
        const material = $('#material').val()
        const amount = $('#amount').val()
        const color = $('#color').val()
        const price = $('#price').val()
        data = {
            purchaseMethod,
            model,
            type,
            material,
            amount,
            color,
            price
        }
        const res = await postData(data)
        
    }
</script>
<script>
    $.Thailand({
    $district: $('#district'), // input ของตำบล
    $amphoe: $('#amphoe'), // input ของอำเภอ
    $province: $('#province'), // input ของจังหวัด
    $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
});
</script>
<script>

$(document).ready(function(){
    moment.locale('en', {
      week: { dow: 1 } // Monday is the first day of the week
    });

    document.getElementById('date').value = new Date().toLocaleString('en-CA').split(',')[0]

  //Initialize the datePicker(I have taken format as mm-dd-yyyy, you can     //have your owh)
  $("#weeklyDatePicker").datetimepicker({
      format: 'MM-DD-YYYY'
  });

   //Get the value of Start and End of Week
  $('#weeklyDatePicker').on('dp.change', function (e) {
      var value = $("#weeklyDatePicker").val();
      var firstDate = moment(value, "MM-DD-YYYY").day(1).format("MM/DD/YYYY");
      var lastDate =  moment(value, "MM-DD-YYYY").day(7).format("MM/DD/YYYY");
      $("#weeklyDatePicker").val(firstDate + " - " + lastDate);
  });
});
</script>

{% endblock %}