{% extends 'base.html' %}
{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center"
        style="height: 100%; display: flex!important; align-items: center;">
        <div class="d-flex justify-content-center">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img  style="height: 400px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
                alt="">
        </div>
    </div>
</div>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="container">
            <div class="row mt-2">
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">แบบ</label>
                    {{form.model_id}}
                </div>
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">ประเภท</label>
                    {{form.type_id}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">วัสดุ/รหัส</label>
                    {{form.material_id}}
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">สี</label>
                    {{form.color}}
                </div>
                <div class="col-2">
                    <label for="exampleFormControlInput1" class="form-label">ไซส์</label>
                    {{form.size}}
                </div>
                <div class="col-2">
                    <label for="exampleFormControlInput1" class="form-label">จำนวน</label>
                    {{form.amount}}
                </div>
                <div class="col-2">
                    <label for="exampleFormControlInput1" class="form-label">ราคาต่อหน่วย</label>
                    {{form.price}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">รูปภาพ</label>
                    {{form.files}}
                </div>
                <div class="col-6 d-grid" style="align-items: end;">
                    <input type="submit" style="width: 100%;" class="btn btn-primary" value="เพิ่ม" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" />
                </div>
            </div>
            <div class="d-flex justify-content-end text-danger">
                <span class="">กรุณาเพิ่มสินค้า</span>
            </div>
            <hr>
            <div class="row mt-2">
                <!-- <div class="col-6">
                    <input type="submit" style="width: 100%;" class="btn btn-primary" value="add" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                </div> -->
            </div>
        </div>
    </div>
</form>
{% if objects %}
<div class="row mb-3" >
    <div class="container border shadow-sm" style="overflow-y: scroll; height: 300px;">
        {% for item in objects %}
        <div class="card mt-2 mb-2">
            <div>
                <button class="btn btn-close" onclick="deleteItem({{item.id}})"
                    style="float: right;"></button>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="row">
                        <div class="col-2">
                            <div class="d-flex-inline">
                                <span>แบบ</span>
                                <span>{{item.model.name}}</span>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="d-flex-inline">
                                <span>ประเภท</span>
                                <span>{{item.type.name}}</span>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="d-flex-inline">
                                <span>วัสดุ/รหัส</span>
                                <span>{{item.material.name}}</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex-inline">
                                <span>สี</span>
                                <span>{{item.color|default:"-"}}</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex-inline">
                                <span>ไซส์</span>
                                <span>{{item.size|default:"-"}}</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex-inline">
                                <span>จำนวน</span>
                                <span>{{item.amount}}</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex-inline">
                                <span>ราคาต่อหน่วย</span>
                                <span>{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="d-flex" style="overflow-x: scroll;">
                        {% for img in item.images %}
                        <div class="me-2 border">
                            <img style="height: 200px;" src="{{img.image.url}}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- end section -->
<!-- section sale -->
<form action="" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">วิธีการมัดจำ</label>
            {{sale_form.deposite_type}}
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">มัดจำ(เปอเซ็นต์)</label>
            {{sale_form.deposite_percent}}
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">มัดจำ(จำนวนเงิน)</label>
            {{sale_form.deposite_money}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">วิธีการชำระเงิน</label>
            {{sale_form.payment_method}}
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">จำนวนเงินมัดจำ(เปอเซ็นต์)</label>
            <input id="total-deposite" class="form-control" value="0" disabled/>
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">ราคาคงเหลือ</label>
            <input id="total-price" class="form-control" value="{{total_price}}" disabled/>
        </div>
        <div class="col-3">
            <label for="exampleFormControlInput1" class="form-label">ลายมือชื่อ</label>
            <input disabled type="email" class="form-control" id="exampleFormControlInput1" value="{{signature}}">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label for="exampleFormControlInput1" class="form-label">หมายเหตุ</label>
            {{sale_form.comment}}
        </div>

    </div>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-2">
            <input type="submit" value="บันทึก" class="btn btn-primary btn-submit" />
        </div>
        <!-- <div class="col-2">
            <button type="button" class="btn btn-primary btn-submit" data-bs-toggle="modal" data-bs-target="#qrModal">
                QR code
            </button>
        </div> -->
    </div>

</form>
<!-- end section -->
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    function matchCustom(params, data) {
        // If there are no search terms, return all of the data
        if ($.trim(params.term) === '') {
        return data;
        }

        // Do not display the item if there is no 'text' property
        if (typeof data.text === 'undefined') {
        return null;
        }

        // `params.term` should be the term that is used for searching
        // `data.text` is the text that is displayed for the data object
        if (data.text.indexOf(params.term) > -1) {
        var modifiedData = $.extend({}, data, true);

        // You can return modified objects from here
        // This includes matching the `children` how you want in nested data sets
        return modifiedData;
        }

        // Return `null` if the term should not be displayed
        return null;
    }
    $("#color-select").select2({
        matcher: matchCustom,
    });

    $("#material-select").select2({
        matcher: matchCustom,
    });

    function calTotalPrice(e){
        var totalPrice = {{total_price}}
        // var method = document.getElementById('deposite-method').value
        var percentage = document.getElementById('deposite-percent').value
        var money = document.getElementById('deposite-money').value
        var totalPriceInput = document.getElementById('total-price')
        var totalDepositeInput = document.getElementById('total-deposite')
        if(percentage > 0){
            totalPriceInput.value = totalPrice * (100-percentage) / 100
            totalDepositeInput.value = totalPrice * percentage / 100
        }else if(money > 0){
            totalPriceInput.value = totalPrice - money
        }
        else if(percentage == 0 && money == 0)
        {
            totalDepositeInput.value = 0
            totalPriceInput.value = totalPrice
        }
    }
    (function(){
        var totalPrice = {{total_price}}
        var totalPriceInput = document.getElementById('total-price')
        var totalDepositeInput = document.getElementById('total-deposite')
        var percentage = document.getElementById('deposite-percent').value
        var money = document.getElementById('deposite-money').value
        var deposite_type = document.getElementById('id_deposite_type').value
        if(deposite_type === '0'){
            document.getElementById('deposite-money').disabled = true
            document.getElementById('deposite-percent').disabled = false
            totalPriceInput.value = totalPrice * (100-percentage) / 100
            totalDepositeInput.value = totalPrice * percentage / 100
        }else if(deposite_type === '1'){
            document.getElementById('deposite-money').disabled = false
            document.getElementById('deposite-percent').disabled = true
            totalPriceInput.value = totalPrice - money
        }else{
            document.getElementById('deposite-money').disabled = true
            document.getElementById('deposite-percent').disabled = true
        }
    })();
    function handleChange(e) {
        console.log(e.value)
        var totalPriceInput = document.getElementById('total-price').value = {{total_price}}
        if(e.value === '0'){
            document.getElementById('deposite-money').disabled = true
            document.getElementById('deposite-percent').disabled = false
            document.getElementById('deposite-money').value = 0
        }else if(e.value === '1'){
            document.getElementById('deposite-money').disabled = false
            document.getElementById('deposite-percent').disabled = true
            document.getElementById('deposite-percent').value = 0
            document.getElementById('total-deposite').value = 0
        }else{
            document.getElementById('deposite-money').disabled = true
            document.getElementById('deposite-percent').disabled = true
            document.getElementById('deposite-money').value = 0
            document.getElementById('deposite-percent').value = 0
            document.getElementById('total-deposite').value = 0
        }

    }
    const deleteItem = async (itemId) => {
        Swal.fire({
                title: 'ยืนยันการลบสินค้า?',
                text: "ต้องการลบสินค้าใช่หรือไม่?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน',
                cancelButtonText: 'ยกเลิก'
            })
            .then(async (result) => {
                if (result.isConfirmed) {
                    const path = '/api/purchase-order';
                    const data = {
                        'item_id': itemId,
                    }
                    const res = await deleteData(path, data)
                    if (res.ok) {
                        window.location.reload();
                    }
                }
            })

    }
</script>
{% endblock %}