{% extends 'base.html' %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center" style="height: 100%; display: flex!important; align-items: center;">
        <div class="d-flex justify-content-center">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="">

        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#qrModal">
    Launch demo modal
  </button>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="container">
            <div class="row mt-2">
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">แบบ</label>
                    {{form.model_id}}
                </div>
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">ประเภท</label>
                    {{form.type_id}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">วัสดุ/รหัส</label>
                    {{form.material_id}}
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">สี</label>
                    {{form.color_id}}
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">จำนวน</label>
                    {{form.amount}}
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label">ราคา</label>
                    {{form.price}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="form-label">รูปภาพ</label>
                    {{form.files}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <input type="submit" style="width: 100%;" class="btn btn-primary" value="add" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row mb-3">
    <div class="container" style="overflow-y: scroll; height: 300px;">
        {% for item in objects %}
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >แบบ</span>
                            <span>{{item.model.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >วัสดุ/รหัส</span>
                            <span>{{item.material.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >สี</span>
                            <span>{{item.color.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >ประเภท</span>
                            <span>{{item.type.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >จำนวน</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >ราคา</span>
                            <span>29999</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button class="btn btn-danger" onclick="deleteItem({{item.id}})">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="d-flex" style="overflow-x: scroll;">
                {% for img in item.images %}
                    <div class="me-2 border">
                        <img width="200" height="200" src="{{img.image.url}}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end section -->
<!-- section sale -->
<form action="" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">มัดจำ(เปอเซ็นต์)</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_percent}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">วิธีการมัดจำ</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_type}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">มัดจำ(จำนวนเงิน)</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_money}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">วิธีการชำระเงิน</label>
                </div>
                <div class="col">
                    {{sale_form.payment_method}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3">หมายเหตุ</div>
                <div class="col">{{sale_form.comment}}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    ลายมือชื่อ
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <input type="submit" value="submit" class="btn btn-primary" />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#qrModal">
                QR code
            </button>
        </div>
    </div>
    
</form>
<!-- end section -->
{% endblock %}
{% block script %}
<script>
    const deleteItem = async(itemId) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            })
        .then( async(result) => {
            if (result.isConfirmed) {
                const path = '/api/purchase-order';
                const data = {
                    'item_id': itemId,
                }
                const res = await deleteData(path, data)
                if(res.ok){
                    window.location.reload();
                }
            }
        })
        
    }
</script>
{% endblock %}