{% extends 'base.html' %}
{% block content %}

<div class="modal fade" id="myModal_Confirm">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">อนุมัติข้อมูล</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            ยืนยันข้อมูลการอนุมัติข้อมูล ?
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary button-shadow" data-bs-dismiss="modal" >ยืนยัน</button>
            </div>
    
        </div>
    </div>
  </div>

  <div class="modal fade" id="myModal_Reject">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">ไม่อนุมัติข้อมูล</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            ปฏิเสธการอนุมัติข้อมูล ?
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary button-shadow" data-bs-dismiss="modal" >ยืนยัน</button>
            </div>
    
        </div>
    </div>
  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">อนุมัติข้อมูล</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            ยืนยันข้อมูลการอนุมัติข้อมูล ?
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary button-shadow" data-bs-dismiss="modal" >ยืนยัน</button>
            </div>
    
        </div>
    </div>
  </div>
  
    <div>ใบสั่งซื้อสินค้า</div>
    <div class="d-flex justify-content-end mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-primary m-2">Print</button>
            <button type="button" class="btn btn-success m-2 " data-bs-toggle="modal" data-bs-target="#myModal_Confirm">Confirm</button>
            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#myModal_Reject">Reject</button>
            <button type="button" class="btn btn-warning m-2" onclick="RedirectEditPage()">Edit</button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <!-- user information -->
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">วันที่</label>
                    </div>
                    <div class="col">
                        <label>10/02/2022</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">ชื่อลุกค้า</label>
                    </div>
                    <div class="col">
                        <label>สมพร สุขเสมอ</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">ที่อยู่</label>
                    </div>
                    <div class="col">
                        200 ถนนมหาจักร
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">กำหนดส่งสินค้า</label>
                    </div>
                    <div class="col">
                        13/04/2022
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">สถานที่จัดงาน</label>
                    </div>
                    <div class="col">
                        <label>One</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">เบอร์โทรศัพท์</label>
                    </div>
                    <div class="col">
                        <label>0970992134</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-3 m-auto">
                                <label for="exampleFormControlInput1" class="">จังหวัด</label>
                            </div>
                            <div class="col">
                                <label>กรุงเทพมหานคร</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-3 m-auto">
                                <label for="exampleFormControlInput1" class="">เขต</label>
                            </div>
                            <div class="col">
                                <label>ป้อมปราบศตรูพ่าย</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-3 m-auto">
                                <label for="exampleFormControlInput1" class="">แขวง</label>
                            </div>
                            <div class="col">
                                <label>ป้อมปราบศตรูพ่าย</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- end section -->

    <!-- item information -->
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">แบบ</th>
                    <th scope="col">ประเภท</th>
                    <th scope="col">วัสดุ</th>
                    <th scope="col">สี</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">ราคา</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                    <td>2RR</td>
                    <td>หนังแท้อิตาลีทั้งตัว</td>
                    <td>5478</td>
                    <td>1</td>
                    <td>30000</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                    <td>2RR</td>
                    <td>หนังแท้อิตาลีทั้งตัว</td>
                    <td>5478</td>
                    <td>1</td>
                    <td>30000</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Caro 2RR-MOTOR กว้าง 2.10 ลึก 0.90 ม.</td>
                    <td>2RR</td>
                    <td>หนังแท้อิตาลีทั้งตัว</td>
                    <td>5478</td>
                    <td>1</td>
                    <td>30000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <!-- end section -->
    <div class="row">
        <div class="col">
            <div>
                <label for="">หมายเหตู</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="col">
            <div class="d-flex">
                <label for="">รวม</label>
                <label for="">1000</label>
            </div>
            <div class="d-flex">
                <label for="">มัดจำ</label>
                <label for="">400</label>
            </div>
            <div class="d-flex">
                <label for="">คงเหลือ</label>
                <label for=""></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <label>ลายมือชื่อ</label>
            <img src="https://upic.me/i/a6/hd003.jpg" alt="" style="width: 200px;" >
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    function RedirectEditPage(){
    const urlParams = new URLSearchParams(window.location.search);
    const htmla = window.location.hostname;
    window.location.href = `/purchase-order/edit/1`
  }
</script>
{% endblock %}