{% extends 'base.html' %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="container">
            <div class="row mt-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 m-auto">
                            <label for="exampleFormControlInput1" class="">แบบ</label>
                        </div>
                        <div class="col">
                            {{form.model_id}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2 m-auto">
                            <label for="exampleFormControlInput1" class="">จำนวน</label>
                        </div>
                        <div class="col-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-2 m-auto">
                            <label for="exampleFormControlInput1" class="">สี</label>
                        </div>
                        <div class="col-2">
                            {{form.color_id}}
                        </div>
                        <div class="col-2 m-auto">
                            <label for="exampleFormControlInput1" class="">ราคา</label>
                        </div>
                        <div class="col-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 m-auto">
                            <label for="exampleFormControlInput1" class="">ประเภท</label>
                        </div>
                        <div class="col">
                            {{form.type_id}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2 m-auto">
                            <label for="exampleFormControlInput1" class="">รูปภาพ</label>
                        </div>
                        <div class="col">
                            {{form.files}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 m-auto">
                            <label for="exampleFormControlInput1" class="">วัสดุ/รหัส</label>
                        </div>
                        <div class="col">
                            {{form.material_id}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="add"/>
                <!-- <button class="btn btn-primary">Add</button> -->
            </div>
        </div>
    </div>
</form>
<div class="row mb-3">
    <div class="container" style="overflow-y: scroll; height: 500px;">
        {% for item in objects %}
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >แบบ</span>
                            <span>{{item.model.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >วัสดุ/รหัส</span>
                            <span>{{item.material.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >สี</span>
                            <span>{{item.color.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >ประเภท</span>
                            <span>{{item.type.name}}</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >จำนวน</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="d-flex-inline">
                            <span >ราคา</span>
                            <span>29999</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex" style="overflow-x: scroll;">
                {% for img in item.images %}
                    <div class="me-2 border">
                        <img src="{{img.image.url}}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end section -->
<!-- section sale -->
<form action="" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">มัดจำ(เปอเซ็นต์)</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_percent}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">วิธีการมัดจำ</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_type}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">มัดจำ(จำนวนเงิน)</label>
                </div>
                <div class="col">
                    {{sale_form.deposite_money}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    <label for="exampleFormControlInput1" class="">วิธีการชำระเงิน</label>
                </div>
                <div class="col">
                    {{sale_form.payment_method}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3">หมายเหตุ</div>
                <div class="col">{{sale_form.comment}}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 m-auto">
                    ลายมือชื่อ
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="submit" class="btn btn-primary" />
</form>
<!-- end section -->
{% endblock %}