{% extends 'base.html' %}
{% block style%}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>

<link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
<script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
{% endblock %}
{% block content %}
    
    <h3 class="text-center">ใบสั่งซื้อสินค้า</h3>
    <!-- section customer -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">วันที่</label>
                    </div>
                    <div class="col">
                        {{form.date}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">สถานที่จัดงาน</label>
                    </div>
                    <div class="col">
                        {{form.work_place_id}}
                        <!-- <select class="form-select" aria-label="Default select example" required name="work_location_id">
                            <option selected>Open this select menu</option>
                            {% for item in work_location %}
                                <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor %}
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">ชื่อลุกค้า</label>
                    </div>
                    <div class="col">
                        {{form.fullname}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">เบอร์โทรศัพท์</label>
                    </div>
                    <div class="col">
                        {{form.tel}}
                    </div>
                    <span class="text-danger">{{form.tel.errors.as_text}}</span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">ที่อยู่</label>
                    </div>
                    <div class="col">
                        {{form.delivery_address}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <div class="col">
                            <div class="row">
                                <div class="col-4">จังหวัด</div>
                                <div class="col">{{form.province}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">เขต</div>
                            <div class="col">{{form.district}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-3 m-auto">
                        <label for="exampleFormControlInput1" class="">กำหนดส่งสินค้า</label>
                    </div>
                    <div class="col">
                        {{form.delivery_date}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">อำเภอ</div>
                            <div class="col">{{form.amphoe}}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">ไปรษณีย์</div>
                            <div class="col">{{form.zipcode}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- end section -->
        
        <a href="/"><input type="submit" class="btn btn-success"></input></a>
    </form>

{% endblock %}

{% block script%}
<script>
    const postData = async(data) => {
        await fetch('/api/purchase-order', 
            {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        return await response.json()
    }
    const addItem = async() => {
        const formData = new FormData();
        const fileList = document.getElementById('file').files;
        for(var i=0;i<fileList.length;i++) {
            formData.append('file'+i, fileList.item(i));
        }
        const purchaseMethod = $('#purchase-method').val()
        const model = $('#model').val()
        const type = $('#type').val()
        const material = $('#material').val()
        const amount = $('#amount').val()
        const color = $('#color').val()
        const price = $('#price').val()
        data = {
            purchaseMethod,
            model,
            type,
            material,
            amount,
            color,
            price
        }
        const res = await postData(data)
        
    }
</script>
<script>
    $.Thailand({
    $district: $('#district'), // input ของตำบล
    $amphoe: $('#amphoe'), // input ของอำเภอ
    $province: $('#province'), // input ของจังหวัด
    $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
});
</script>

{% endblock %}