{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <!-- <script src="{% static 'bootstrap.min.js' %}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Sofa plus</a>
          {% if user.is_authenticated %}
            <div class="d-flex">
                <div class="mx-2">{{user}}</div>
                <a href="/user/logout/"><div>logout</div></a>   
            </div>
          {% endif %}
        </div>
    </nav>
<div class="container">
    {% block content %}
    {% endblock %}

</div>
</body>
{% block script%}
{% endblock %}
</html>